@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Italic";
  font-display: swap;
  src: url("../fonts/OpenSans-Italic.woff") format("woff"), url("../fonts/OpenSans-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.button {
  position: relative;
  font-size: 20px;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  background-color: #000;
  border: 2px solid #0CC6C9;
  text-align: center;
  width: 100%;
  padding: 15px 20px;
  line-height: 30px;
  cursor: pointer;
  letter-spacing: 2px;
  overflow: hidden;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 0 20px 0;
}

.card__image {
  width: 100%;
  padding: 20px 20px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card__image img {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  height: auto;
  display: block;
}

.card__description {
  padding: 20px 15px;
  margin: 0;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card__title {
  font-size: 20px;
  padding: 0 0 10px 0;
  margin: 0;
  color: #000;
}

.card__detail {
  font-size: 18px;
  color: #444;
  margin: 0 0 20px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.card__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  border-top: 1px solid #ccc;
}

.card__price {
  padding: 0;
  margin: 0;
  color: #000;
}

.card__button.button {
  color: #fff;
  display: inline-block;
  background-color: #D50006;
  width: auto;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

.mouse .card:hover .card__button.button {
  background-color: #5AA200;
  color: #fff;
}

.mouse .card:hover .card__button.button::before {
  left: 150px;
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: 100%;
  font-family: "OpenSans";
}

h2 {
  padding: 80px 0 30px 0;
  margin: 0;
  text-align: center;
  font-size: 35px;
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  position: relative;
  height: 100vh;
  background: url("../img/headerbg-1150x865.webp") no-repeat 50% 50%/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__top {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
}

.header__top::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.header__top-inner {
  height: 60px;
  padding: 0 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  z-index: 3;
}

.header__logo img {
  max-width: 100%;
  height: 40px;
  display: block;
}

.header__body {
  padding: 60px 20px 30px 20px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__body-image {
  display: none;
}

.header__body-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  margin: 0;
}

.header__body-content-title {
  padding: 0;
  margin: 0;
  font-size: 30px;
  color: #fff;
}

.header__body-content-sub-title {
  padding: 0;
  margin: 0;
  font-size: 24px;
  color: #fff;
}

.header__body-content-description {
  padding: 0;
  margin: 0;
  font-size: 18px;
  color: #fff;
}

.menu {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 60px 30px 20px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.35s ease 0s;
  -o-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
  overflow: auto;
  z-index: 1;
}

.menu.active {
  top: 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 0 0 0;
  margin: 0;
  z-index: 2;
}

.menu__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  position: relative;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 24px;
  padding: 10px 10px;
}

.sub-list {
  display: none;
  padding: 0 0 0 20px;
  margin: 0;
  width: 100%;
}

.sub-list.open {
  display: block;
}

.sub-list__link {
  font-size: 20px;
  text-decoration: none;
  font-style: italic;
  color: #0CC6C9;
  display: inline-block;
  padding: 10px 0;
}

.burger {
  display: block;
  position: relative;
  width: 35px;
  height: 30px;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  z-index: 3;
}

.burger span {
  position: absolute;
  background-color: #0CC6C9;
  left: 0;
  width: 100%;
  height: 3px;
  top: 4px;
  -webkit-transition: background-color 0s linear .13s;
  -o-transition: background-color 0s linear .13s;
  transition: background-color 0s linear .13s;
}

.burger.active span {
  -webkit-transition-delay: .22s;
       -o-transition-delay: .22s;
          transition-delay: .22s;
  background-color: transparent;
}

.burger::before,
.burger:after {
  content: '';
  position: absolute;
  background-color: #0CC6C9;
  width: 100%;
  height: 3px;
  left: 0;
}

.burger::before {
  top: 12px;
  -webkit-transition: top 0.1s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: top 0.1s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.burger::after {
  top: 20px;
  -webkit-transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.burger.active::before {
  top: 4px;
  -webkit-transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.15s, -webkit-transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.15s, -webkit-transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  -o-transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.15s, transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.15s, transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.15s, transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s, -webkit-transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
          transform: translate3d(0, 10px, 0) rotate(45deg);
}

.burger.active::after {
  top: 4px;
  -webkit-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  -o-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s, -webkit-transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  -webkit-transform: translate3d(0, 10px, 0) rotate(-45deg);
          transform: translate3d(0, 10px, 0) rotate(-45deg);
}

.sub-btn-arrow {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
}

.sub-btn-arrow::before,
.sub-btn-arrow::after {
  position: absolute;
  content: '';
  width: 16px;
  height: 2px;
  background-color: #0cc6c9;
  top: 11px;
  left: 0;
}

.sub-btn-arrow::before {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
  left: 0;
}

.sub-btn-arrow::after {
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
  left: 11px;
}

.sub-btn-arrow.active::before {
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.sub-btn-arrow.active::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

.catalog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.certificates {
  padding: 0 20px;
}

.certificates__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  padding: 0;
}

.certificates__link {
  display: block;
  margin-bottom: 20px;
  cursor: pointer;
}

.certificates__link img {
  width: 100%;
  height: auto;
}

.buy {
  padding: 0 20px 20px 30px;
}

.buy__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buy__image {
  display: none;
}

.buy__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buy__list {
  list-style-type: none;
}

.buy__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.buy__item-title {
  position: relative;
  padding: 70px 0 0 0;
  margin: 0;
}

.buy__item-title::before {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  background-image: url("https://via.placeholder.com/50?text=image");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.buy__item-detail {
  padding: 0;
  margin: 0 0 20px 0;
}

.buy__button.button {
  color: #fff;
  display: inline-block;
  background-color: #D50006;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.about {
  padding: 0 20px 20px 30px;
}

.hide {
  display: none;
}

@media (min-width: 768px) {
  .card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .card__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }

  .card__description {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }

  .header__top-inner {
    padding: 0 calc(50% - 334px);
    height: 100px;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70px;
            flex: 0 0 70px;
  }

  .header__logo img {
    width: 70px;
    height: 70px;
  }

  .header__body {
    padding: 0 calc(50% - 334px);
    padding-top: 100px;
  }

  .header__body-content-button.button {
    width: 300px;
  }

  .menu {
    padding: 0 calc(50% - 334px);
    padding-top: 100px;
    padding-bottom: 40px;
  }

  .menu__list {
    padding: 100px 0 0 0;
  }

  .menu__link {
    font-size: 45px;
  }

  .sub-list {
    padding: 0 0 0 40px;
  }

  .sub-list__link {
    font-size: 35px;
  }

  .catalog {
    padding: 0 calc(50% - 334px);
  }

  .certificates {
    padding: 0 calc(50% - 334px);
  }

  .buy {
    padding: 0 calc(50% - 334px);
  }

  .about {
    padding: 0 calc(50% - 334px);
  }
}

@media (min-width: 1150px) {
  .button {
    width: 300px;
  }

  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 32%;
    border: 2px solid #ccc;
    margin: 0 0 20px 0;
  }

  .card__image {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }

  .card__description {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }

  .card__title {
    padding: 0 0 20px 0;
  }

  .card__detail {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    margin: 0 0 25px 0;
  }

  .card__button.button:before {
    content: "";
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.5)));
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5));
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5));
    height: 50px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    -webkit-transform: skewX(-45deg);
        -ms-transform: skewX(-45deg);
            transform: skewX(-45deg);
  }

  .card__button.button:hover {
    -webkit-box-shadow: 0 0 2px 2px #5AA200;
            box-shadow: 0 0 2px 2px #5AA200;
  }

  h2 {
    font-size: 53px;
    padding: 40px 0;
  }

  body.lock {
    overflow: visible;
  }

  .header__top {
    background-color: transparent;
  }

  .header__top::before {
    z-index: 1;
  }

  .header__top-inner {
    padding: 0 calc(50% - 575px);
    position: static;
  }

  .header__body {
    padding: 0 calc(50% - 575px);
    padding-top: 100px;
  }

  .header__body-image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__body-image img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .header__body-content-button.button {
    z-index: 1;
    border: 2px solid;
    -o-border-image: -o-linear-gradient(top, #ff3000, #ed0200, #ff096c, #d50082);
       border-image: -webkit-gradient(linear, left top, left bottom, from(#ff3000), color-stop(#ed0200), color-stop(#ff096c), to(#d50082));
       border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
    border-image-slice: 1;
    -webkit-transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .header__body-content-button.button:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    z-index: -1;
    color: white;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff3000), color-stop(#ed0200), color-stop(#ff096c), to(#d50082));
    background: -o-linear-gradient(top, #ff3000, #ed0200, #ff096c, #d50082);
    background: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
    -webkit-transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .header__body-content-button.button:hover {
    background: rgba(255, 255, 255, 0);
  }

  .header__body-content-button.button:hover:before {
    bottom: 0%;
    top: auto;
    height: 100%;
  }

  .menu {
    position: static;
    width: auto;
    height: auto;
    padding: 0;
    background-color: transparent;
    overflow: visible;
  }

  .menu__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
  }

  .menu__list li {
    margin: 0;
  }

  .menu__link {
    font-size: 16px;
    padding: 15px 10px;
    -webkit-transition: 0.3s ease 0s;
    -o-transition: 0.3s ease 0s;
    transition: 0.3s ease 0s;
  }

  .menu__link::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: auto;
    width: 0;
    height: 1px;
    z-index: 3;
    background-color: #0CC6C9;
    -webkit-transition: 0.25s cubic-bezier(0.694, 0.048, 0.335, 1) 0.15s;
    -o-transition: 0.25s cubic-bezier(0.694, 0.048, 0.335, 1) 0.15s;
    transition: 0.25s cubic-bezier(0.694, 0.048, 0.335, 1) 0.15s;
  }

  .menu__link:hover {
    color: #0CC6C9;
  }

  .menu__link:hover:before {
    width: 100%;
    left: 0;
  }

  .sub-list {
    display: none;
  }

  .burger {
    display: none;
  }

  .sub-btn-arrow {
    display: none;
  }

  .catalog {
    padding: 0 calc(50% - 575px);
    padding-top: 60px;
  }

  .catalog__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .certificates {
    padding: 0 calc(50% - 575px);
    padding-top: 60px;
  }

  .certificates__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .buy {
    padding: 0 calc(50% - 575px);
    padding-top: 60px;
    padding-bottom: 30px;
  }

  .buy__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .buy__image img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .buy__description {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .buy__button.button {
    width: 300px;
  }

  .buy__button.button:before {
    content: "";
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.5)));
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5));
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5));
    height: 50px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    -webkit-transform: skewX(-45deg);
        -ms-transform: skewX(-45deg);
            transform: skewX(-45deg);
  }

  .buy__button.button:hover {
    background-color: #5AA200;
    color: #fff;
  }

  .buy__button.button:hover::before {
    left: 300px;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }

  .about {
    padding: 0 calc(50% - 575px);
    padding-top: 60px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
}